<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
      <add name="Connecter" connectionString="Provider=Microsoft.JET.OLEDB.4.0;Data Source=|DataDirectory|db_clients.mdb;"
          providerName="System.Data.OleDb" />
      <add name="ApplicationWinforms.Properties.Settings.db_clientsConnectionString"
          connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db_clients.mdb"
          providerName="System.Data.OleDb" />
      <add name="ApplicationWinforms.Properties.Settings.utilisateurs_offres_reservationsConnectionString"
          connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\utilisateurs_offres_reservations.mdb"
          providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>